.tearsheet {
  /* border: 1px solid black; */
  /* height: 1000px; */
  width: 1200px;
  margin: 0 auto;
}

.seperate {
  margin: 20px 0px 20px 0px;
  border-width: 0 0 0.5px 0;
  border-style: solid;
  border-color: darkblue;
  opacity: 50%;
}

.verticalSpace {
  height: 25px
}

.leftside {
  /* display: flex; */
  flex: 6;
  
}

.rightside {
  /* display: flex; */
  flex: 4;

}

.desc {
  padding: 10px 10px 20px 10px;
  margin: 0;
  text-align: left;
}


.sectionheader {
  text-decoration: underline;
  margin: 5px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  /* flex: 1; */
}